body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;

}
.nav-link{
    color: #222222 !important;
}
.navbar-collapse {
    background-color: white;
    padding: 1rem;
}
/* footer */

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

/*(index.ejs) Cards */
.listing-card {
   border: none !important;
   margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
   font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
    color: #222222;
}

.no-listings-message {
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
  }
/* Card Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New.ejs */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* edit.ejs */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    width: 100%;
}
.download-btn{
    background-color: #fe424d !important;
}

/* shows.ejs */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.book-btn{
    background-color: #fe424d !important;
}
/* For Maps */
#map {
    margin: 0;
    padding: 0;
    height: 350px;
    width: 100%;
  }

  .dropdown {
    position: relative;
    animation-name: example;
    animation-duration: 5s;
}

@keyframes example {
    0% {
        left: 0px;
        bottom: 500px;
    }

    100% {
        left: 0px;
        bottom: 0px;
    }
}

/* Responsiveness */
@media (max-width:768px) {
    .edit-btn{
        padding-right: 1rem !important;
        width: auto !important; 
    }
    #map {
        height: 250px; /* Adjust height on smaller screens */
    }

}